---
layout: layouts/base.njk
title: Inicio
description: Noticias estilo Feed.
ogType: website
---

<section class="feed-container">
  
  <div style="display: flex; flex-direction: column;">
    {% for post in collections.posts | reverse %}
      {% include "partials/card-hero.njk" %}
    {% endfor %}
  </div>

</section>