---
layout: layouts/base.njk
title: Locales
description: Noticias locales.
---
<section class="max-w-5xl mx-auto px-4 py-6 space-y-6">
  <h1 class="text-2xl font-bold">Locales</h1>
  <div class="grid gap-4 md:grid-cols-2">
    {% for post in collections.locales %}
      {% include "partials/card-hero.njk" %}
    {% endfor %}
  </div>
</section>
