---
layout: layouts/base.njk
title: Tendencias video
description: Noticias locales, nacionales, tendencias y deportes.
---
<section class="max-w-5xl mx-auto px-4 py-6 space-y-6">
  <div class="grid gap-4 md:grid-cols-2">
    {# CAMBIO AQUÍ: Usamos collections.videos en lugar de collections.posts #}
    {% for post in collections.videos %}
      {% include "partials/card-hero-video.njk" %}
    {% else %}
       <p class="text-center text-gray-500 col-span-2">No hay videos disponibles por el momento.</p>
    {% endfor %}
  </div>
</section>