name: Build & Deploy

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm ci

      - name: Build Eleventy
        run: npx @11ty/eleventy --output _site

      # PASO 1: Despliegue a QA (Siempre ocurre al hacer push a main)
      - name: Deploy to QA Branch
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: qa
          publish_dir: ./_site
          force_orphan: true # Recomendado: limpia el historial de la rama destino para que sea copia fiel

      # PASO 2: Despliegue a GH-PAGES (Solo si el commit dice [PROD])
      - name: Deploy to Production (gh-pages)
        if: contains(github.event.head_commit.message, '[PROD]')
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./_site
          force_orphan: true