<header class="site-header">
  <div class="header-inner">
    
    <a href="/" class="logo-area">
      <img src="/assets/logos/logo_final.webp" alt="Logo" class="logo-img" />
      <span>NOTICIAS SUR</span>
    </a>

    <div>
      <button id="toggle-theme" class="theme-btn">Modo</button>
    </div>
  </div>
</header>